.rounded-button {
    width: 8em;
    cursor: pointer;
    border: solid 1px gray;
    border-radius: 0.8em;
    opacity: 0.75;
}
.rounded-button:hover {
    /* transform: translateY(0.05rem); */
    opacity: 1;
}
